:host {
    @apply inline-block items-center justify-center px-4 py-2 text-sm;

    grid-auto-flow: column;
    gap: var(--btn-gap, 0.5rem);
    line-height: 1.2;
    cursor: pointer;
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    min-width: 100px;
    min-height: 43px;
    border: 1px solid hsl(var(--primary));
    border-radius: var(--btn-radius, 10px);

    ::ng-deep svg,
    ::ng-deep img {
        width: 24px;
        height: 24px;
        margin-top: -5px;
        margin-bottom: -5px;
    }

    &:focus-visible {
        outline: 3px solid hsl(var(--primary));
        outline-offset: 2px;
    }

    &.btn-descructive {
        background-color: hsl(var(--destructive));
    }

    &.btn-secondary {
        background-color: hsl(var(--secondary));
    }

    &.btn-outline {
        background-color: transparent;
        color: hsl(var(--primary));
        opacity: 80;

        &:hover,
        &:focus {
            background-color: hsl(var(--primary));
            opacity: 80;
            color: hsl(var(--primary-foreground));
        }
    }

    &.btn-disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}