<nav class="border-b border-input sticky top-0 bg-[#141414] z-40">
    <div class="container mx-auto px-3 py-5 flex justify-between items-center">

        <a routerLink="/dashboard">
            <h6 class="text-white font-bold text-xl">Pokédex</h6>
        </a>

        <div
            class="search-input h-[46px] px-3 rounded-xl bg-input w-full max-w-[350px] flex gap-1 items-center focus:border focus:border-primary">
            <mat-icon class="cursor-pointer text-white/60">search</mat-icon>
            <input type="text"
                class="bg-transparent text-[14px] text-white w-full p-3 placeholder:text-muted-foreground focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50"
                placeholder="Rechercher un pokemon..." (input)="onInputChange($event)">
        </div>

        <div class="actions flex gap-7 items-center">
            <button my-button class="action-btn" (click)="navigateToAdd()"><mat-icon
                    class="cursor-pointer text-xl -mt-1">add</mat-icon> <span class="hidden xl:flex">Ajouter
                    pokemon</span></button>

            <app-dropdown>
                <ng-template #trigger>
                    <div class="avatar flex items-center gap-2" *ngIf="isLoading" appearance="circle">
                        <ngx-skeleton-loader *ngIf="isLoading" appearance="line" animation="pulse"
                            class="relative top-2" [theme]="{ width: '40px', height: '40px', borderRadius: '10px'}">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader *ngIf="isLoading" appearance="line" animation="pulse"
                            [theme]="{ width: '60px', height: '12px', borderRadius: '10px'}" class="relative top-2">
                        </ngx-skeleton-loader>
                        <mat-icon
                            class="cursor-pointer text-xl -mt-1 text-white rotate-[-90deg]">chevron_left</mat-icon>
                    </div>

                    <div class="avatar flex items-center gap-2" *ngIf="!isLoading">
                        <img src="/avatar.jpg" alt="avatar" class="w-[43px] h-[43px] rounded-xl">
                        <p class="text-white">{{user?.username}}</p>
                        <mat-icon
                            class="cursor-pointer text-xl -mt-1 text-white rotate-[-90deg]">chevron_left</mat-icon>
                    </div>
                </ng-template>

                <!-- Content -->
                <div class="content p-2 flex gap-3 items-center text-white cursor-pointer hover:bg-primary/50 rounded-md"
                    (click)="logout()">
                    <mat-icon class="text-white">logout</mat-icon>
                    Se déconnecter
                </div>
            </app-dropdown>
        </div>
    </div>
</nav>