<article class="pokemon-card w-full bg-input p-3 rounded-xl">
    <div class="relative">
        <img src="/pikachu.webp" alt="pokemon-image" class="rounded-lg object-cover h-[200px] w-full">
        <div
            class="p-3 rounded-full absolute top-3 right-3 flex items-center justify-center  bg-white/20 backdrop-blur">
            <img src="/icons/heart.svg" alt="favorite-icon" class="w-5 cursor-pointer">
        </div>
    </div>
    <div class="flex flex-col gap-[5px] mt-4">
        <h3 class="text-white text-xl name">Pikachu</h3>
        <p class="text-white/80 line-clamp-2 text-sm cursor-pointer description">A small electric mouse Pokémon.</p>
        <p class="abilities text-white">
            abilities:
            <span class="ability">Static</span>
            <span class="ability">Lightning Rod</span>
        </p>
    </div>
</article>