<article
    class="pokemon-card w-full bg-input p-3 rounded-xl h-full hover:scale-110 transition-all duration-150 cursor-pointer"
    (click)="navigateToDetail()">
    <div class="relative" *ngIf="!isLoading">
        <img crossorigin='anonymous' [src]="image_url" alt="pokemon-image"
            class="rounded-lg object-cover h-[200px] w-full">
        <div class="p-3 rounded-full absolute top-3 right-3 flex items-center justify-center bg-white/20 backdrop-blur">
            <img src="/icons/heart.svg" alt="favorite-icon" class="w-5 cursor-pointer">
        </div>
    </div>

    <!-- Skeletons -->
    <div class="relative" *ngIf="isLoading">
        <ngx-skeleton-loader *ngIf="isLoading" appearance="line" animation="pulse"
            [theme]="{ width: '100%', height: '200px', borderRadius: '11px'}">
        </ngx-skeleton-loader>
    </div>

    <div class="flex flex-col gap-[5px] mt-4" *ngIf="!isLoading">
        <h3 class="text-white text-xl name">{{name}}</h3>
        <p class="text-white/80 line-clamp-2 text-sm cursor-pointer description">{{description}}</p>
        <p class="abilities text-white">
            Abilities:
            <span class="ability" *ngFor="let ability of abilities; let isLast = last">
                {{ability.name}}<span *ngIf="!isLast">, </span>
            </span>
        </p>
        <div class="types flex flex-wrap gap-3 mt-2">
            <div *ngFor="let type of pokemon_types" class="rounded-full text-sm text-white p-2 px-3"
                [ngStyle]="{'background-color': getTypeColor(type.name)}">
                {{type.name}}
            </div>
        </div>
    </div>

    <!-- Skeletons -->
    <div class="flex flex-col gap-[5px] mt-4" *ngIf="isLoading">
        <ngx-skeleton-loader *ngIf="isLoading" appearance="line" animation="pulse"
            [theme]="{ width: '36%', height: '15px', borderRadius: '11px'}">
        </ngx-skeleton-loader>

        <ngx-skeleton-loader *ngIf="isLoading" appearance="line" animation="pulse"
            [theme]="{ width: '100%', height: '40px', borderRadius: '11px'}">
        </ngx-skeleton-loader>

        <ngx-skeleton-loader *ngIf="isLoading" appearance="circle" animation="pulse"
            [theme]="{ width: '70px', height: '40px', borderRadius: '11px'}">
        </ngx-skeleton-loader>
    </div>
</article>