<div class="flex w-full overflow-x-hidden min-h-screen justify-center items-center bg-[#141414]">
    <div class="wrapper bg-gray p-7 flex flex-col gap-6">
        <header>
            <h3 class="text-white text-2xl font-semibold">Se connecter à votre compte</h3>
        </header>

        <form>
            <div class="flex flex-col gap-3">
                <label for="username" class="text-white">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" class="text-white p-2 rounded-md"
                    placeholder="Nom d'utilisateur">
            </div>
        </form>
    </div>
</div>