<div class="pokemon-list mt-10 container mx-auto px-3 pb-14">
    <header class="flex items-center justify-between">
        <h2 class="text-white text-2xl font-semibold">Liste de pokemons</h2>

        <button my-button [isOutline]="true">
            <mat-icon class="cursor-pointer text-2xl -mt-2 text-white">tune</mat-icon>
            Filtrer
        </button>
    </header>

    <div class="grid grid-cols-4 mt-4 gap-6">
        <app-pokemon-card *ngFor="let pokemon of pokemons" [name]="pokemon.name" [description]="pokemon.description"
            [image_url]="formatImageName(pokemon.image_url)" [createdAt]="pokemon.createdAt"
            [abilities]="pokemon.abilities" [pokemon_types]="pokemon.pokemon_types" [isLoading]="isLoading">
        </app-pokemon-card>
    </div>
</div>